<template>
    <div>
        <ul>
            <Todo v-for="todo in todos" :key="todo.id" :todo="todo"/>
        </ul>
        <AddTodo />
    </div>
</template>

<script>
export default {
    data() {
        return {
            todos: []
        }
    },
    async created() {
        const result = await fetch('https://jsonplaceholder.typicode.com/todos?userId=1');
        this.todos = await result.json();
    },
}
</script>

<style>
    
</style>