<template>
  <div>
    <form>
      <label>Title</label>
      <input type="text" v-model="todo.title" />
      <button v-on:click="onSubmit">Submit</button>
    </form>
  </div>
</template>
<script>
export default {
  data() {
    return {
      todo: {
        title: "",
      },
    };
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
      fetch("https://hooks.zapier.com/hooks/catch/9020478/oc4n2um/", {
        method: "POST",
        body: JSON.stringify(this.todo),
      });
    },
  },
};
</script>