<template>
  <div>
    <ul>
      <li>
        <h3>Name</h3>
        <hr />
        <h3>{{ doc.data().name }}</h3>
      </li>
      <li>
        <h3>College</h3>
        <hr />
        <h3>{{ doc.data().college }}</h3>
      </li>
      <li>
        <h3>Address</h3>
        <hr />
        <h3>{{ doc.data().address }}</h3>
      </li>
      <li>
        <h3>Email</h3>
        <hr />
        <h3>{{ doc.data().email }}</h3>
      </li>
      <li>
        <h3>Phone</h3>
        <hr />
        <h3>{{ doc.data().phone }}</h3>
      </li>
      <button class="update" v-on:click="onUpdate(doc.id)">Update</button>
      <button class="delete" v-on:click="onDelete(doc.id)">Delete</button>
    </ul>
  </div>
</template>

<script>
import "firebase/firestore";
import firebase from "firebase/app";

export default {
  name: "Logo",
  props: ["doc"],
  data() {
    return {
      id: null
    };
  },
  methods: {
    onUpdate(id) {
      let data = prompt("Enter data to be changed in JSON format");
      firebase
        .firestore()
        .collection("crud")
        .doc(id)
        .update(JSON.parse(data));
    },
    onDelete(id) {
      firebase
        .firestore()
        .collection("crud")
        .doc(id)
        .delete();
    }
  }
};
</script>
<style>
li {
  display: flex;
}
ul {
  border: 2px solid black;
}
</style>
