<template>
  <div>
        <li class="list">
            <input type="checkbox" v-model="todo.completed">
            <h4>{{ todo.title}}</h4>
        </li>
  </div>
</template>

<script>
export default {
    name: 'Todo',
    props: ["todo"]
};
</script>
<style >
    li {
        display: flex;
    }
</style>