<template>
  <div class="container">
    <div>
      <nuxt-link to="/todos" >Todo</nuxt-link>
      <form id="add-data">
        <label>Name</label>
        <input required type="text" v-model="lists.name" />
        <br /><br />
        <label>College</label>
        <input required type="text" v-model="lists.college" />
        <br /><br />
        <label>Email</label>
        <input required type="email" v-model="lists.email" />
        <br /><br />
        <label>Phone</label>
        <input required type="number" v-model="lists.phone" />
        <br /><br />
        <label>Address</label>
        <input required type="text" v-model="lists.address" />
        <br />
        <button type="submit" v-on:click="onSubmit">Create</button>
      </form>
      <Logo v-for="doc in docs" :key="doc.id" :doc="doc" />
    </div>
  </div>
</template>

<script>
import "firebase/firestore";
import firebase from "firebase/app";

export default {
  data() {
    return {
      docs: [],
      lists: {
        name: '',
        address: '',
        email: '',
        phone: '',
        college: ''
      }
    };
  },
  mounted() {
    firebase
      .firestore()
      .collection("crud")
      .get()
      .then(snapshot => {
        this.docs = snapshot.docs;
      });
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
      firebase.firestore().collection("crud").add(this.lists);
      this.lists.name = "";
      this.lists.address = "";
      this.lists.email = "";
      this.lists.phone = "";
      this.lists.college = "";
    }
  }
};
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

</style>
